RewriteEngine On

# Если запрошен файл или папка — не трогать
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Короткие ссылки: 5 или 6 латинских символов
RewriteRule ^([a-zA-Z]{5,6})$ download.php?code=$1 [L,QSA]

# Админка
RewriteRule ^admin$ admin.php [L] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L] 