RewriteEngine On

# Если запрошен файл или папка — не трогать
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([a-zA-Z]{5,6})$ templates/view.php?code=$1 [L,QSA]

RewriteRule ^admin\.php$ templates/admin.php [L]

RewriteRule ^ShareX(?:\.php)?$ templates/ShareX.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L] 