RewriteEngine On

RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge/ [NC]
# Redirect HTTP to HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://hapka.lol%{REQUEST_URI} [R=301,L]
#

RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge/ [NC]
# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.hapka\.lol$ [NC]
RewriteRule ^ https://hapka.lol%{REQUEST_URI} [R=301,L]
#

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([a-zA-Z]{5,6})$ templates/view.php?code=$1 [L,QSA]

RewriteRule ^admin\.php$ templates/admin.php [L]

RewriteRule ^ShareX(?:\.php)?$ templates/ShareX.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L] 